* {
	box-sizing: border-box;
}
body {
  font-family: 'montserrat', sans-serif;
  font-style: normal;
  color: #000;
  margin: 0;
  padding: 0;}

.header {
  /*border: 1px solid red;*/
}

.conteiner {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 53px;
  /*border: 1px solid red;*/
}

.menu {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 0 43px;
  /*border: 1px solid red;*/
}	

.menu_1, .menu_2 {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  /*border: 1px solid red;*/
}

.menu_2 .menu__item {
	margin: 30px;
}
.menu__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  font-style: normal;
  color: #000;
  padding-bottom: 6px;
  border-bottom: 2px transparent solid;
  transition: 0.2s; 
}

.menu__item:hover, .menu__item_active {
  border-bottom: 2px #E51937 solid; 
  color: #E51937;
}
.item1 {
  margin-right: 63px;
}

.item2 {
  margin-right: 25px;	
}

.item3 {
  margin-right: 44px;
}

.item4 {
  margin-right: 46px;	
}

.titlee {
  text-align: center;
  background-image: url(img/tesla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 594px;
  margin-bottom: 26px;
}

.titlee__banner {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
}

.titlee__short {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.tesla_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

.info__block {
  display: flex;
  align-items: center;
  margin-right: 81px;
}
.info__block_img {
  width: 57px;
  margin-right: 14px;
}

.info__block_text1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.info__block_text1 span {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  vertical-align: bottom;
}

.info__block_text2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.test_driive {
  cursor: pointer;
  margin-left: 24px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.test_driive img {
  margin-right: 7px;

}

.order {
  font-weight: bold;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  min-width: 160px;
  min-height: 40px;
  margin-left: 40px;
  cursor: pointer;
}

.go_bottom {
  text-align: center;
  display: block;
}

@media (max-width: 769px) {
  .conteiner {
  	width: 769px;
  }

  .menu__item_active, .menu__item {
    display: none;
  }

  .menu {  
    margin: 24px 33px 80px 15px;
  }

  .titlee__banner {
    font-size: 90px;
    line-height: 110px;
  }

  .titlee__short {
    font-size: 15px;
    line-height: 18px  
  }  

  .tesla_info {
    flex-wrap: wrap;
    margin-bottom: 63px;
  }

  .tesla_info:nth-child(2) {
    margin-left: 20px;
  }

  /*.info__block {*/
    /*margin-right: 65px;*/
    /*margin-bottom: 56px;*/
  /*}*/

  .info__block:nht-child(2) {
    margin-right: 0px;
  }

  .info__block_img {
  	width: 65px;
  }
     
  .info__block_text1 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 0px;
  }  

  .info__block_text1 span {
    align-items: center;	
    font-size: 20px;
    line-height: 41px;
  }

  .info__block_text2 {
    font-size: 12px;
    line-height: 15px;
  }
     
  .info__block_img {
    color: #E51937;
  }

  .test_driive {
    margin-left: 0px;
    margin-right: 25px;
  }
}


@media (max-width: 380px) {
  .conteiner {
  	width: 375px;
  }

  .menu__item_active, .menu__item {
    display: none;
  }

  .menu {  
    margin: 5px 21px 43px 2px;
  }	

  .titlee {
  	min-height: 200px;
  	background-size: contain;
  	background-position: center bottom;
  }

  .titlee__banner {
    font-size: 50px;
    line-height: 61px;
  }

  .titlee__short {
    font-size: 10px;
    line-height: 12px;
  }

  .tesla_info {
  	flex-wrap: wrap;
  	margin-bottom: 34px;
  }

  .tesla_info:nth-child(2) {
   	margin-left: 20px;
  }

  .info__block {
  	margin-right: 0px;
  	margin-bottom: 43px;
  }

  .info__block:nht-child(2) {
  	margin-left: 20px;
  }
   
  .info__block_text1 {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 3px;
  }  

  .info__block_text1 span {
  	font-size: 15px;
  	line-height: 18px;
  }

  .info__block_text2 {
    font-size: 10px;
    line-height: 12px;
  }
   
  .info__block_img {
  	color: #E51937;
  }

  .test_driive {
  	margin-left: 0px;
  	margin-right: 25px;
    align-items: center;
  }
}


