* {
	box-sizing: border-box;
}

body {
  font-family: 'montserrat', sans-serif;
  font-style: normal;
  color: #000;
  margin: 0;
  padding: 0;
  width: 100%;
  /* width: 1440px; */
}

/* header шапка */


.header {
  /*border: 1px solid red;*/
}

.conteiner {
  width: 1440px;
  margin: 0 auto;
  margin-bottom: 0;
  border: 1px solid red;
  width: 1440px; 
}

.menu {  
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 24px 60px 0 43px;
  /*border: 1px solid red;*/
}	

.menu_1, .menu_2 {
  padding: 0;
  display: flex;
  list-style: none;
  justify-content: space-between;
  /*border: 1px solid red;*/
}

.menu_2 .menu__item {
	margin: 30px;
}
.menu__item {
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  text-decoration: none;
  font-style: normal;
  color: #000;
  padding-bottom: 6px;
  border-bottom: 2px transparent solid;
  transition: 0.2s; 
}

.menu__item:hover, .menu__item_active {
  border-bottom: 2px #E51937 solid; 
  color: #E51937;
}
.item1 {
  margin-right: 63px;
}

.item2 {
  margin-right: 25px;	
}

.item3 {
  margin-right: 44px;
}

.item4 {
  margin-right: 46px;	
}

.titlee {
  text-align: center;
  background-image: url(img/tesla.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  min-height: 594px;
  margin-bottom: 26px;
}

.titlee__banner {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 90px;
  line-height: 110px;
}

.titlee__short {
  padding: 0;
  margin: 0;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.tesla_info {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 38px;
}

.info__block {
  display: flex;
  align-items: center;
  margin-right: 81px;
}
.info__block_img {
  width: 57px;
  margin-right: 14px;
}

.info__block_text1 {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-right: 6px;
  margin-bottom: 1px;
}

.info__block_text1 span {
  font-weight: 600;
  font-size: 20px;
  line-height: 33px;
  vertical-align: bottom;
}

.info__block_text2 {
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
}

.test_driive {
  cursor: pointer;
  margin-left: 24px;
  margin-right: 40px;
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  text-transform: uppercase;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.test_driive img {
  margin-right: 7px;

}

.order {
  font-weight: bold;
  font-size: 13px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #E51937;
  border: 2px solid #E51937;
  min-width: 160px;
  min-height: 40px;
  margin-left: 22px;
  cursor: pointer;
}

.go_bottom {
  text-align: center;
  display: block;
}

 /* section основной контент */


.main {
  margin-top: 30px;
  height: 845px;
  color: #fff;	
}

.main__inner {
  background-image: url(img/2013-tesla-model-s-cockpit.png); 
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  justify-content: space-between;
  width: 100%;
  /*background-size: contain;*/
}

.main__left {
  margin-left: 80px;
  font-weight: 600;
  font-size: 70px;
  line-height: 85px;
  color: #E51937;	
}

.main__left h2 {
  margin-top: 10px;
  margin-left: 80px;
}

.main__right {
  width: 440px;
  background: #E51937;
  padding: 51px 50px 63px 52px;	
}
.main__top h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  margin: 0;
  padding: 0;
}

.main__top p {
  font-weight: 500;
  font-size: 17px;
  line-height: 18px;
  margin: 0;
  padding: 0;
  margin-top: 11px;	
  margin-bottom: 54px;	
}

.box__blog {
  margin-bottom: 118px;
}

.blog {
  display: flex;
  align-items: center;
  margin-bottom: 35px;
	
}

.blog__img {
  align-self: center;
  margin-right: 19px;
}
.blog__text-box {
  margin-right: 63px;
}

.blog__title {
  font-weight: 600;
  font-size: 21px;
  line-height: 24px;
  margin: 0;
}

.blog__accent {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;		
}

.blog__accent {
  font-weight: 600;
  font-size: 35px;
  line-height: 43px;
  margin-right: 8px;	
}

.blog__text {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}
.main__bottom {
  display: flex; 
}

.information {
 display: flex;
 font-weight: bold;
 align-items: center;
 font-size: 13px;
 line-height: 16px;
 text-align: center;
 text-transform: uppercase;
 margin-right: 0px;

}

.information img {
  align-self: center;  	
  margin-right: 10px;
}

.information a {
  text-decoration: none;
  color: #fff;
}

.inverse__button {
  color: #fff;
  border-color: #fff;	
}

/*подвал*/


.footer {
  width: 1440px;
  border: 1px solid red;
}

.container {

}

.footer__iner {
  display: flex;
}

.footer__left {
  color: #fff;
  background: #e51937;
  width: 440px;
}

.footer__left_head h3 {
  margin: 51px 68px 12px 56px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.footer__left_head p {
  margin: 0px 68px 49px 56px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.footer__left_body h3 {
  margin-bottom: 29px; 
  margin-left: 56px;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
  width: 263px;
}

.rating {
  margin-left: 56px;
  margin-bottom: 16px;
  margin-right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
}

.rating__title {
  font-weight: bold;
  font-size: 17px;
  line-height: 21px;
  text-transform: uppercase;
}

.rating__add {
  font-weight: bold;
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
}

.footer__left_bottom {
  margin-left: 66px;
  margin-top: 102px;
}

.blog1 {
  display: flex;
  align-items:center;
  margin-top: 102px;
  margin-bottom: 22px;
}

.blog__img {
  align-self: center;
}

.blog__text-box1 {
  margin-left: 23px;
}

.blog__text1 {
  font-weight: 600;
  font-size: 25px;
  line-height: 30px;
  margin: 0;
}

.blog__baner {
  font-weight: 600;
  font-size: 50px;
  line-height: 61px;
  margin: 0;
}

.footer__left_bottom .main__bottom {
  margin-bottom: 60px;
}

.footer__right {
  position: relative;
}

.footer__model_text {
  font-weight: 600;
  width: 962px;
  font-size: 200px;
  line-height: 244px;
  position: absolute;
  color: #e51937;
  opacity: 0.1;
  top: 48px;
  left: 244px;
}

.footer__img {
  position: absolute;
  top: 171px;
  left: -96px;
}

.footer__info {
  font-weight: 600;
  font-size: 17px;
  line-height: 15px;
  color: #000;
  position: absolute;
  display: flex;
  align-items: flex-start;
}

.footer__info img {
  align-self: center;
}

.footer__info.item-1 {
  left: 169px;
  top: 174px;
  width: 172.68px;
}

.footer__info.item-2 {
  left: 447px;
  top: 122px;
  width: 173px;
}

.footer__info.item-3 {
  top: 538px;
  left: 503px;
  align-items: flex-end;
  width: 233px;
}  

@media (max-width: 1385px)

/* адаптив под планшет */

@media (max-width: 769px) and (min-width: 380px)  {
  .conteiner {
  	width: 769px;
  }

  .menu__item_active, .menu__item {
    display: none;
  }

  .menu {  
    margin: 24px 33px 80px 15px;
  }

  .titlee__banner {
    font-size: 90px;
    line-height: 110px;
  }

  .titlee__short {
    font-size: 15px;
    line-height: 18px  
  }  

  .tesla_info {
    flex-wrap: wrap;
    margin-bottom: 63px;
  }

  /*.tesla_info:nth-child(2) {*/
    /*margin-left: 20px;*/
  /*}*/

  .info__block {
    margin-right: 65px;
    margin-left: 65px;
    margin-bottom: 56px;
  }

  .info__block:nht-child(2) {
    margin-right: 0px;
  }

  .info__block:nht-child(2) .info__block_img {
  	width: 38px;
  }

  .info__block_img {
  	width: 65px;
  }
     
  .info__block_text1 {
    font-size: 50px;
    line-height: 61px;
    margin-bottom: 0px;
  }  

  .info__block_text1 span {
    align-items: center;	
    font-size: 20px;
    line-height: 41px;
  }

  .info__block_text2 {
    font-size: 12px;
    line-height: 15px;
  }
     
  .info__block_img {
    color: #E51937;
  }

  .test_driive {
    font-size: 16px;
    line-height: 20px;
    margin-left: 0px;
    margin-right: 34px;
  }

   .test_driive img {
   	width: 30px;
   	height: 30px;
   }

  .order {
  	width: 220px;
  	height: 55px;
  	font-size: 16px;
  	line-height: 55px;
  	background: #E51937;
  	color: #fff;
  }

  .main {
  	height: 100%;
  }

  .main__inner {
  	flex-direction: column;
  }

  .main__left {
  	height: 500px;
  	/*background-size: contain;*/
  }

  .main__left h2 {
  	font-weight: 600;
  	font-size: 70px;
  	line-height: 85px;
  	text-align: right;
  	margin: 0px 58px 0 0;
  }

  .main__right {
  	width: 100%;
  	/*display: flex;*/
  	flex-direction: column;
  	padding: 55px 20px 50px 30px;
  }

  .main-top__inner {
  	display: flex;
  }

  .main__top {
    width: 289px;
    margin-right: 70px;
    margin-left: 34px;
  }

  .box__blog {
  	width: 300px;
    margin-right: 0px;
  }

  .main__bottom {
  	margin: 0;
  	text-align: center;
  	justify-content: center;
  }

  .footer {
    /* width: 768px;
     border: 1px solid red; */
     margin: 0;
     padding: 0;
  }

  .footer .container {
    width: 768px;
    border: 1px solid red;
  }

  .footer__iner {
    flex-direction: column;
  }

  .footer__left {
    border: 1px solid red;
    width: 768px;
    order: 2;
    display: flex;
    flex-wrap: wrap;
  }
  
  .footer__left_head, .footer__left_body {
    width: 50%;
  } 

  .footer__left_head {
    padding-left: 34px;
    padding-top: 63px;
  }
  
  .footer__left_head  h3 {
    margin: 0;
    width: 316px;
    height: 74px;
    font-weight: 600;
    font-size: 30px;
    line-height: 37px;
    margin-bottom: 12px;
  }

  
  .footer__left_head p {
    margin: 0;
    font-weight: 500;
    font-size: 15px;
    line-height: 18px;
    width: 316px;
    height: 134px;
  }

  .footer__left_body {
    padding-right: 84px;
    padding-top: 63px;

  }

  .footer__left_body h3 {
    margin: 0;
    margin-bottom: 29px;
  }

  .rating {
    margin: 0;
    margin-bottom: 16px;
  }
  
  .footer__left_bottom {
    margin: 70px auto 63px;
    width: 100%;
  }

  .footer__left_bottom .main__bottom {
     margin: 0;
  }

  .footer__left_bottom .information {
    margin: 0;
    margin-right: 36px;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
  }

  .footer__left_bottom .information img {
    width: 31px;
    height: 31px;
  }

  .blog1 {
    display: none;
  }
  .blog__img {
  }
  .blog__text-box1 {
  }
  .blog__baner {
  }
  .blog__text1 {
  }

  .footer__right {
    border: 1px solid red;
    order: 1;
    height: 579px;
  }

  .footer__model_text {
    width: 665px;
    top: 37px;
    left: 158px;
    font-weight: 600;
    font-size: 148px;
    line-height: 180px;  
  }

  .footer__img {
    width: 750px;
    left: -14px;
    width: 761px;
    top: 117px;
    height: 446px;
  }

  .footer__info.item-1 {
    left: 175px;
    top: 75px;
    width: 172.68px;
  }

  .footer__info.item-2 {
    left: 378px;
    top: 57px;
    width: 173px;
  }

  .footer__info.item-3 {
    top: 416px;
    left: 418px;
    align-items: flex-end;
    width: 233px;
  }
}

/* мобилка */


@media (max-width: 380px) {
  .conteiner {
  	width: 375px;
  }

  .menu__item_active, .menu__item {
    display: none;
  }

  .menu {  
    margin: 5px 21px 43px 2px;
  }	

  .titlee {
  	min-height: 200px;
  	background-size: contain;
  	background-position: center bottom;
  }

  .titlee__banner {
    font-size: 50px;
    line-height: 61px;
  }

  .titlee__short {
    font-size: 10px;
    line-height: 12px;
  }

  .tesla_info {
  	flex-wrap: wrap;
  	margin-bottom: 34px;
  }

  .tesla_info:nth-child(2) {
   	margin-left: 20px;
  }

  .info__block {
  	margin-right: 0px;
  	margin-bottom: 43px;
  }

  .info__block:nht-child(2) {
  	margin-left: 20px;
  }
   
  .info__block_text1 {
    font-size: 27px;
    line-height: 33px;
    margin-bottom: 3px;
  }  

  .info__block_text1 span {
  	font-size: 15px;
  	line-height: 18px;
  }

  .info__block_text2 {
    font-size: 10px;
    line-height: 12px;
  }
   
  .info__block_img {
  	color: #E51937;
  }

  .test_driive {
  	font-size: 13px;
    line-height: 16px;
    margin-left: 18px;
    margin-right: 0px;
    align-items: center;
  }

  .order {
  	width: 160px;
  	height: 40px;
  	font-size: 13px;
  	line-height: 40px;
  	background: #E51937;
  	color: #fff;
  }
  .main {
  	min-height: 500px;
  	height: 0;
  	width: 0;
  }

  .main__inner {
    height: 337px;
    flex-direction: column;
  }

  .main__left {
  	height: 337px;
  }

  .main__right {
  	width: 378px;
  	background: url(img/2013-tesla-model-s-cockpit.png);
  	background-size: contain;
  	background-repeat: no-repeat;
  	padding: 286px 54px 34px 30px;
  	background-color: red;
  }

  .main__left h2, .box__blog, .main__bottom {
  	display: none;
  }

  .main__top p {
    width: 110%;
    font-size: 16px;
    line-height: 18px;
  }
}


